// stylelint-disable selector-no-type
// stylelint-disable selector-max-specificity
// stylelint-disable declaration-no-important

.site-branding {
  padding: 100px 0;
}

.has-header-image.twentyseventeen-front-page .site-branding,
.has-header-image.home.blog .site-branding {
  display: block;
  height: auto;
  vertical-align: baseline;
}

.custom-header,
.has-header-image.twentyseventeen-front-page .custom-header,
.has-header-image.home.blog .custom-header {
  display: block;
  height: 45vh;
  width: auto;
}

.has-header-image.twentyseventeen-front-page .custom-header-media img,
.has-header-image.home.blog .custom-header-media img {
  bottom: 0;
  position: absolute;
}

body.home.title-tagline-hidden.has-header-image .custom-logo-link img {
  max-height: 80px;
}

@media screen and (min-width: $breakpoint-medium) {

  .has-header-image.twentyseventeen-front-page .site-branding,
  .has-header-image.home.blog .site-branding {
    margin-bottom: 0 !important;
  }

  .has-header-image.twentyseventeen-front-page .custom-header,
  .has-header-image.home.blog .custom-header {
    margin-bottom: 72px !important;
  }

  .has-header-image.twentyseventeen-front-page .custom-header-media,
  .has-header-image.home.blog .custom-header-media {
    bottom: 0;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  .admin-bar.twentyseventeen-front-page.has-header-image .custom-header-image,
  .admin-bar.home.blog.has-header-image .custom-header-image {
    height: calc(45vh - 32px);
  }
}
