// stylelint-disable selector-no-type
// stylelint-disable selector-max-specificity
// stylelint-disable selector-no-id

.twentyseventeen-front-page .page-header,
.home.blog .page-header {
  display: none;
}

body.page-two-column.page-slug-code-of-conduct #primary,
body.page-two-column.page-slug-codigo-de-conduta #primary,
body.page-two-column.page-slug-contactos #primary,
body.page-two-column.page-slug-oradores #primary,
body.page-two-column.page-slug-participantes #primary,
body.page-two-column.page-slug-patrocinar #primary,
body.page-two-column.page-slug-sponsoring #primary,
body.page-two-column.page-slug-wc-lisboa-in-english #primary {

  .entry-header {
    display: none;
  }

  .entry-content {
    float: left;
    width: 100%;
  }
}
