// stylelint-disable selector-no-type

.twentyseventeen-front-page .page-header,
.home.blog .page-header {
  display: none;
}

body.page-slug-participantes #primary {

  .entry-header {
    display: none;
  }

  .entry-content {
    float: left;
    width: 100%;
  }
}
