// Breakpoints
$breakpoint-xsmall: 20em; // 320px
$breakpoint-small: 30em; // 480px
$breakpoint-medium: 48em; // 768px
$breakpoint-large: 67em; // 1072px
$breakpoint-xlarge: 79em; // 1264px

// Color
$teal: #2f98a7;
$dark-blue: #2b5187;
$light-blue: #44c0ff;
$blue: #3770bf;
$gray: #4a4a4a;

// Typography
$font-family-sans-serif:
  "PT Sans",
  "Helvetica Neue",
  Helvetica,
  Arial,
  sans-serif;

$font-weight-normal: 400;
$font-weight-bold: 700;
