// stylelint-disable selector-no-type
// stylelint-disable selector-no-id
// stylelint-disable selector-max-specificity

#tix-attendees ul {
  padding: 0;
}

#tix-attendees li {
  height: auto;
  margin-bottom: 2em;
}

#tix-attendees .avatar {
  border-radius: 50%;
}

#tix-attendees .tix-field {
  margin: 0 1em 0 4.5em;
}

#tix-attendees .tix-columns-3 li {
  width: 100%;
}

@media screen and (min-width: $breakpoint-small) {

  #tix-attendees .tix-columns-3 li {
    width: 50%;
  }

  #tix-attendees .tix-columns-3 li:nth-child(2n+1) {
    clear: left;
  }
}

@media screen and (min-width: $breakpoint-medium) {

  #tix-attendees .tix-columns-3 li {
    width: 33.33%;
  }

  #tix-attendees .tix-columns-3 li:nth-child(2n+1) {
    clear: none;
  }

  #tix-attendees .tix-columns-3 li:nth-child(3n+1) {
    clear: left;
  }
}
